body {
  font-family: Arial;
  text-align: center;
  background: #121213;
  color: white;
}

#game {
  margin: 20px auto;
  width: 260px;
}

.row {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.cell {
  width: 50px;
  height: 50px;
  border: 2px solid #3a3a3c;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
}

.correct { background: #538d4e; }
.present { background: #b59f3b; }
.absent { background: #3a3a3c; }